/*body{
  height: 3480px !important;
  width: 2380px !important;
}
*/

input, span{
  /*width: 60px !important;*/
  border: 0 !important;
  box-shadow: none !important;
  /*width: 100px !important;*/
  display: inline !important;
 }


.medium-3{
  width: 100px;
  float: right;
  /*clear: both;*/
}

.medium-9{
  width: 600px;
  float: left;
}