.title-irpf {
  background: #E6E6E6;
  border-color: #BDBDBD;
}

#irpf > input{
  margin-bottom: 3px !important;
}

p{
  margin-bottom: 13px;
}

.pull-right{
  float: right !important;
}

.pull-left {
  float: left !important;
}

#btn-irpf{
  margin-top: 20px;
}

select{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}

div#irpf input:nth-child(6), input:nth-child(7) {
  font-weight: bold;
  /*color: red;*/
}

input.debito {
  font-weight: bold;
  color: red;
}

input.credito {
  font-weight: bold;
  color: blue;
}

h4 {
  position: relative !important;
}

select.s-year {
  position: absolute !important;
  left: 515px;
  top: 10px;
}