.title-irpf {
  background: #E6E6E6;
  border-color: #BDBDBD;
}

#irpf > input{
  margin-bottom: 3px !important;
}

p{
  margin-bottom: 13px;
}

.pull-right{
  float: right !important;
}

#btn-irpf{
  margin-top: 20px;
}

select{
  font-weight: bold;
  letter-spacing: 2px;
  font-size: 15px;
}