body {
  min-height: 2000px;
  padding-top: 70px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#clear{
  /*margin-left: 290px;*/
  margin-top: 25px;
}

span#calc{
  margin-right: 6px;
}

.title-prazo {
  background: #E6E6E6;
  border-color: #BDBDBD;
}

a.btn-block{
  margin-bottom: 20px;
}
/*.inputs, #form-prazo {
  border: 1px solid #000;
}*/